<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("AlgebraClone", "Predbiljezba", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Predbilježba", "Predbiljezba", "Home")</li>
                <li>@Html.ActionLink("Predbilježbe", "Predbiljezbe", "Home")</li>
                <li>@Html.ActionLink("Dodaj zaposlenika", "DodajNovogZaposlenika", "Home")</li>
                <li>@Html.ActionLink("Dodaj seminar", "DodajSeminar", "Home")</li>
                <li>@Html.ActionLink("Odjava", "Odjava", "Auth")</li>
                <li class="navbar-text navbar-right" style="color:aqua">Prijavljeni kao: @Session["TrenutniZaposlenik"]</li>
            </ul>
        </div>
    </div>
</div>
