@model List<AlgebraSeminar.Models.Seminar>

    <table class="table table-responsive">
        <thead>
            <tr>
                @if (Session["TrenutniZaposlenik"] != null)
                {
                    <th scope="col"></th>
                }
                <th scope="col"></th>
                <th scope="col">Naziv seminara</th>
                <th scope="col">Opis</th>
                <th scope="col">Datum</th>
                <th scope="col">Predavač</th>
                <th scope="col">Broj mjesta</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var seminar in Model)
                {
                    <tr>
                        @if (Session["TrenutniZaposlenik"] != null)
                        {
                            <td>@Html.ActionLink("uredi", "UrediSeminar", new { id = seminar.SeminarId })</td>
                        }
                        <td>@Html.ActionLink("odaberi", "NovaPredbiljezba", new { seminarId = seminar.SeminarId })</td>
                        <td>@seminar.Naziv</td>
                        <td>@seminar.Opis</td>
                        <td>@seminar.Datum.ToShortDateString()</td>
                        <td>@seminar.Predavac</td>
                        <td>@seminar.BrojSlobodnihMjesta</td>
                    </tr>
                }
            }
        </tbody>
    </table>
