@using AlgebraSeminar.Models
@model Predbiljezba
@{
    ViewBag.Title = "NovaPredbiljezba";
    Seminar seminar = (Seminar)Session["OdabraniSeminar"];
}
<h1>Unos nove predbilježbe za @seminar.Naziv</h1>

<form class="form-horizontal" action="NovaPredbiljezba" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Datum, DateTime.Now)
    @Html.HiddenFor(model => model.Seminar, seminar)

    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SeminarId, Model.SeminarId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ime, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(model => model.Ime, new { @class = "form-control col-sm-10" })
        @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezime, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control col-sm-10" })
        @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adresa, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(model => model.Adresa, new { @class = "form-control col-sm-10" })
        @Html.ValidationMessageFor(model => model.Adresa, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-sm-10" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefon, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control col-sm-10" })
        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Seminar.Datum, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(model => seminar.Datum, new { @readonly = "readonly", @class = "form-control col-sm-10" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <input type="submit" value="Pošalji" class="btn btn-default" />
        </div>
    </div>
</form>
